body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #f4f4f4;
  background-image: url("./pattern.png");
  background-repeat: repeat;
  background-size: 10%;
}

header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 5%;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

main {
  width: 80%;
  margin: 20px auto;
  margin-top: 100px;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

@media (max-width: 1068px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* Collapse to 2 columns */
  }
}

/* For phones (or any screen size with a max-width of 480px) */
@media (max-width: 780px) {
  .grid {
    grid-template-columns: 1fr; /* Collapse to 1 column */
  }
}
